header.hero-unit {
	padding: 30px 40px;
	-webkit-border-top-right-radius: 0;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius-topright: 0;
	-moz-border-radius-topleft: 0;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}
#input { width: 99%; height: 100px; margin-top: 15px; }